@import "layouts/grid";

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: black;

    width: 100vw;
    height: 100vh;
}

.forest-protector{
    background-image: url(../images/c4.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
}

.forest{
    padding: 0;
    margin: 0;
    // border: 1px solid black;
    float: right;
    padding: 0;
    background-color: green($color: #000000);
 
    &__animal{

    }

    &__logo-pic{
        height: 120px;
        width: 120px;
        margin-left: 20rem;
    }
    
    &__animal-pic1{
        border-radius: 50%;
        height: 120px;
        width: 120px;
        margin-left: 40rem;
        margin-top: 5rem;
    }

    &__animal-pic2{
        border-radius: 50%;
        height: 120px;
        width: 120px;
        margin-left: 5rem;
    }
}

.heading-primary{
    line-height: 1.7rem;
    padding-bottom: 2rem;


    &-main{
        text-transform: uppercase;
        font-size: 1.7rem;
    }

    &-sub{
        text-transform: uppercase;
        font-size: 1rem;
    }

    &-sub-2{
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.heading-secondary{
    line-height: 1rem;
    margin-top: 10rem;
}

.col-1-of-3{
    float: right;
    padding: 0;
}

.col-2-of-3{
    float: left;
    padding: 0;
}

.form__group{
    line-height: 1.7rem;
}

